[submodule "apps/protocol-v1/lib/forge-std"]
	path = apps/protocol-legacy-v1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "apps/protocol/lib/forge-std"]
	path = apps/protocol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "apps/protocol/lib/morpho-org/morpho-blue-oracles"]
	path = apps/protocol/lib/morpho-org/morpho-blue-oracles
	url = https://github.com/morpho-org/morpho-blue-oracles
[submodule "apps/protocol/lib/morpho-org/morpho-blue-irm"]
	path = apps/protocol/lib/morpho-org/morpho-blue-irm
	url = https://github.com/morpho-org/morpho-blue-irm
[submodule "apps/protocol/lib/erc4626-tests"]
	path = apps/protocol/lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
